/* You can add global styles to this file, and also import other style files */
body{
    background-color:#eff2f5 !important ;
}
.background-grey{
    background-color: #eff2f5 !important ;
}
.border-none{
    border: none !important ;
}
.min-height-80{
    min-height: 80px;
}
.border-right{
    border-right: 2px solid #9ca1a6 !important;
}
.custom-border{
    border: solid #9ca1a6;
    border-radius: 5px;
}
.textcenter{
    text-align: center;
}
.blue-color{
    color: #037bfe;
}
.titreStyleFora{
    text-decoration :none;
    margin-left: 26px;
    color: blue;
}
.titreStyle{
    
    text-decoration :none;
    text-align: center;
    color: blue;
}
.mrg{
    margin-left: 20px;
    margin-right:20px;
}
.text-right{
    text-align: right;
}
.text{
    text-align: right;
}

.widthStock{
    width: 1400px;
    height: auto;
}
