<div class="row mb-1 mr-0 custom-border">
    <!-- detail article -->
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="col">
            <div class="row textcenter">
                <div class="col-md-11"><h5>22.02.2022</h5></div>
            </div>
        </div>  
    </div>  

    <!-- detail category -->
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-12 textcenter">
                <h3>139</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-12 textcenter">
                <h3>Sortie</h3>
            </div>
        </div>
    </div>
    <!-- detail action -->
    <div class="col-md-3 mb-1 mt-1">
        <div class="row">
              <h3 class="textcenter">COMMANDE_CLIENT</h3> 
        </div>
    </div>
</div>
