<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-1 border-right p-1 text-center mb-1 mt-1">
        <img src="assets/product/OFF_OvertimeLotion_100ml_HERO_2X.jpg" width="100px" height="100px"/>
    </div>
    <!-- detail article -->
    <div class="col-md-5 border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="mr-1"><i class="fa-solid fa-circle-info blue-color"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Code article</div>
            </div>
            <div class="row">
                <div class="mr-1"><i class="fa-solid fa-circle-info blue-color"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;designation</div>
            </div>
            <div class="row">
                <div class="mr-1"><i class="fa-solid fa-dollar-sign blue-color"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;prix HT</div>
            </div>
            <div class="row">
                <div class="mr-1"><i class="fa-solid fa-dollar-sign blue-color"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;prix TTC</div>
            </div>
        </div>  
    </div>  

    <!-- detail category -->
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-2">
                <i class="fa-solid fa-flag-checkered blue-color"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">Code categorie</div>
                    <div class="col-md-12">Designation categorie</div>
                </div>
            </div>
        </div>
    </div>
    <!-- detail action -->
    <div class="col-md-3 mb-1 mt-1">
        <div class="row">
            <div class="col-md-4">
                <a class="titreStyleFora">
                    <i class="fa-solid fa-pencil "></i>&nbsp;&nbsp;Modifier
                </a>
            </div>
            <div class="col-md-4">
                <!-- <button type="button" class="btn btn-link text_deco">
                    <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
                </button> -->
                <a class="titreStyleFora">
                    <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
                </a>
            </div>
            <div class="col-md-4">
                <a  class="titreStyleFora">
                    <i class="fa-solid fa-rectangle-list "></i>&nbsp;&nbsp;&nbsp;Details
                </a>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
