<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-1 border-right p-1 text-center mb-1 mt-1">
        <img src="assets/product/OFF_OvertimeLotion_100ml_HERO_2X.jpg" width="100px" height="100px"/>
    </div>

    <!-- detail article -->
    <div class="col-md-5 border-right mb-1 mt-1">
        <div class="col textleft ">
            <div class="row ">
                <div class="mr-1 textDetail"><i class="fa-solid fa-circle-info blue-color"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Nom</div>
            </div>
            <div class="row">
                <div class="mr-1 textDetail"><i class="fa-solid fa-circle-info blue-color"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Prenom</div>
            </div>
            <div class="row">
                <div class="mr-1 textDetail"><i class="fa-solid fa-phone blue-color"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;27666242</div>
            </div>
        </div>  
    </div>  
    <!-- detail Commende -->
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="col textleft">
            <div class="row ">
                <div class="mr-1 textDetail "><i class="fa-solid fa-qrcode blue-color"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CMD-1234</div>
            </div>
            <div class="row">
                <div class="mr-1 textDetail"><i class="fa-solid fa-calendar-check blue-color"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;02.22.2022</div>
            </div>
            <div class="row">
                <div class="mr-1 textDetail"><i class="fa-solid fa-cart-arrow-down blue-color"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Livre</div>
            </div>
        </div>  
    </div>
    <!-- detail action -->
    <div class="col-md-3 mb-1 mt-1">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-link"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-pencil blue-color"></i>&nbsp;
                    Modifier
                </button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-link"  data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-trash blue-color"></i>&nbsp;
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</div>
