<div class="row mb-1 mr-0 custom-border">
    <!-- detail article -->
    <div class="col-md-3 border-right mb-1 mt-1">
        <div class="col">
            <div class="row textcenter">
                <div class="col-md-11"><h5>Code article</h5></div>
            </div>
        </div>  
    </div>  

    <!-- detail category -->
    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-12 border-right textcenter">
                Designation article
            </div>
        </div>
    </div>
    <div class="col-md-2 custom-border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-12 border-right textcenter">
                8
            </div>
        </div>
    </div>
    <div class="col-md-2 custom-border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-12 border-right textcenter">
                12,3
            </div>
        </div>
    </div>
    <div class="col-md-2 custom-border-right mb-1 mt-1">
        <div class="row">
            <div class="col-md-12  textcenter">
                73,8
            </div>
        </div>
    </div>
   
    <!-- detail action -->
    <!-- <div class="col-md-2 mb-1 mt-1">
        <div class="row textcenter">
            73,8      
        </div>
    </div> -->
</div>
